@{
    Layout = null;
}

@model IEnumerable<Employee_leave_system.Models.AppliedEmployeeLeaves> 

<div style="background-color:lavender">
    <h2 style="text-align:center">Below are all the leave requests that you have applied.</h2>

    <div class=container>
        <div class="row justify-content-around">
            <div class="col-3" style="display:contents">
                @{
                    foreach (var empLeaveRow in Model)
                    {
                        <div class="card" style="width: 20rem; background-color:beige; align-items:center">
                          <div class="card-body">                            
                            <table style="font-size:.9rem">     
                                <tr>
                                    <td><b>Employee Id: </b></td>
                                    <td>@empLeaveRow.UserId</td>
                                </tr>
                                <tr>
                                    <td><b>Type Of Leave: </b></td>
                                    <td>@empLeaveRow.TypeOfLeave</td>
                                </tr>
                                <tr>
                                    <td><b>Description: </b></td>
                                    <td>@empLeaveRow.Description</td>
                                </tr>
                                 <tr>
                                    <td><b>Status: </b></td>
                                    <td>@empLeaveRow.Status</td>
                                 </tr>
                                 <tr>
                                    <td><b>DateOfApplication: </b></td>
                                    <td>@empLeaveRow.DateOfApplication.ToString().Split(" ")[0]</td>
                                 </tr>
                                 <tr>
                                    <td><b>Leave From: </b></td>
                                    <td>@empLeaveRow.LeaveFromDt.ToString().Split(" ")[0]</td>
                                 </tr>
                                 <tr>
                                    <td><b>Leave To: </b></td>
                                    <td>@empLeaveRow.LeaveToDt.ToString().Split(" ")[0]</td>
                                 </tr>
                                                                                        
                            </table>
                          </div>
                            
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    

</div>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>